 <div class="app">
 
     <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/test">Test</a></li>
         <li><a href="/edit-hub">Edit</a></li>
      </ul>
    </nav>


<h2 class="title">Add a new flash card</h2>

<form class="form" action="/new" method="post">
  <label for="name" class="form-item">
    Question: <input type="text" name="name" id="name">
  </label>
<br>
<br>
  
  <label for="image" class="form-item">
    Answer: <input type="text" name="image" id="image">
  </label>
<br>
<br>
  <input type="submit" value="Create">
</form>
