{{!-- <!DOCTYPE html>
<html>

<head>
  <title>Dev Academy Phase 1 Express Boilerplate</title>
</head>

<body>
  {{ hi, i am edit}}
</body>

</html> --}}

<h2 class="title">Add a new flash card</h2>

<form class="form" action="/new" method="post">
  <label for="name" class="form-item">
    Question: <input type="text" name="name" id="name">
  </label>
<br>
  
  <label for="image" class="form-item">
    Answer: <input type="text" name="image" id="image">
  </label>
<br>
<br>
  <input type="submit" value="Submit">
</form>